<div class="alert alert-@alertType alert-dismissible fade show" style="@($"display: {display}")" role="alert">
    @Message
    <button type="button"  @onclick="dismiss" class="close"data-hide="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>



@code {

    string display { get; set; }
    public string alertType { get; set; }

    public string Message { get; set; }
    
    protected override void  OnParametersSet()
    {
        display = "none";

    }
    public void show(string alertColor)
    {
        //success or danger
        alertType = alertColor;
        display = "block";
        StateHasChanged();
    }

    public void dismiss()
    {
        display = "none";
        Message = string.Empty;
        StateHasChanged();
    }
}
